<ion-header>
  <ion-navbar>
    <ion-title>
      Tasks
    </ion-title>
	<ion-buttons end>
		<button ion-button icon-only (click) = "addTask()">
			<ion-icon name="add-circle"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
	  <ion-item-sliding *ngFor="let task of tasks">
		<ion-item>
		  <h2>{{task}}</h2>
		</ion-item>
		<ion-item-options side="right">
		  <button ion-button color="danger" (click)="deleteTask(task)">
			<ion-icon name="trash"></ion-icon>
			Delete
		  </button>
		</ion-item-options>
	  </ion-item-sliding>
	</ion-list>
</ion-content>
