<ion-header>

  <ion-navbar>
    <ion-title>add-task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-item>
		<ion-label color="primary" stacked>Task</ion-label>
		<ion-input type="text" clearInput="true" [(ngModel)]="task" placeholder="Task description"></ion-input>
	</ion-item>
	
	<div padding>
	
		<button ion-button icon-start full round (click)="addTask()">
			<ion-icon name="add-circle"></ion-icon>
			Create Task
			</button>
	</div>
	
</ion-content>
